.footer{
    padding: 2vw 4vw;
    margin-top: 10vw;
}

hr{
    color: #000;
    margin-bottom: 5vw;
}

.footer-text p{
    font-size: 1.3em;
    color: #475569;
}

.footer-links {
    margin: 7vw 0 ;
    display: flex;
    align-items: center;
    gap: 3vw;
}

.footer_link img{
    width: 8vw;
    height: 8vw;
}

.footer-desc{
    margin-bottom: 3vw;
    font-size: .88em;
    color: #475569;
    text-align: start;
}

@media (min-width: 1024px) {
    .footer{
        padding: 2vw 5vw;
        margin-top: 2vw;
    }
    
    hr{
        color: #000;
        margin-bottom: 2vw;
    }

    .footer-text{
        margin-top: 3vw;
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-text p{
        font-size: 1.1em;
        color: #475569;
    }
    
    .footer-links {
        margin: 0 ;
        display: flex;
        align-items: center;
        gap: 1vw;
    }
    
    .footer_link img{
        width: 1.8vw;
        height: 1.8vw;
        object-fit: cover;
    }
    
    .footer-desc{
        margin: 3vw 0;
        font-size: .88em;
        color: #475569;
        text-align: start;
    }
}

@media (max-width: 400px){
    .footer-text p{
        font-size: 1.1em;
        color: #475569;
    }
}