.founder {
  padding: 8vw 4vw;
  background-color: #F1F5F9;
}

.img-div {
  position: relative;
  width: 100%;
}

.img-div #video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-div #playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-div {
  margin-top: 10vw;
}

.text-div h1 {
  font-size: 1.5em;
  color: #475569;
  font-weight: 400;
}

.text-div span {
  color: #2563eb;
}

.text-div p {
  font-size: 1.1em;
  margin-top: 4.5vw;
  color: #0f172a;
}


.inside #left{
    display: none;
  }

  .inside #right{
   display: none;
  }

@media (min-width: 1024px) {
  .founder {
    padding: 4vw 5vw;
    display: flex;
    align-items: center;
    /* gap: 2vw; */
  }

  .inside {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 6vw;
    /* background-color: red; */
  }

  

  .inside #left{
    display: block;
    position: absolute;
    top: 45%;
    left: -2vw;
    z-index: 3;
    width: 4vw;
    height: 4vw;
  }

  .inside #right{
    display: block;
    position: absolute;
    top: 45%;
    right: -2vw;
    z-index: 3;
    width: 4vw;
    height: 4vw;
  }

  .img-div {
    width: 35vw;
    height: 45vh;
  }

  .text-div {
    margin-top: 0vw;
    width: 30vw;
    /* background-color: blue; */
    padding: 2vw;
  }

  .text-div h1 {
    font-size: 1.1em;
    color: #475569;
    font-weight: 400;
  }

  .text-div span {
    color: #2563eb;
  }

  .text-div p {
    font-size: 1.1em;
    margin-top: 2vw;
    color: #0f172a;
    text-align: left;
    line-height: 2vw;
  }
  

}


@media (max-width: 400px) {

  .founder {
    padding: 11vw 4vw;;
  }

  .text-div h1 {
    font-size: 1.3em;
  }
  
  .text-div p {
    font-size: 1em;
  }
  
}