.content{
    width: 100%;
    /* height: fit-content; */
    background-color: #881337;
    padding: 0 4vw;
    gap: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    color: #fff;
}



.text-content{
    width: 100%;
    padding-top: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;    
    /* background-color: blue; */
}

.text-content p{
    font-size: 2.8em;
    font-weight: 700;
}

.search-info{
    width: 100%; 
    /* padding: 0 1vw; */
    /* overflow: hidden; */
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.1vw;
    position: relative;
}

.input-search{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3vw;

    /* background-color: blue; */
}

.input-search #search{
    display: none;
}

.input-search input{
    width: 65%;
    padding: 4vw 3vw;
    border-radius: 1.3vw;
    outline: none;
    border: none;
    font-size: 4.3vw;

}

.input-search button{
    padding: 3.5vw 8vw;
    border-radius: 2vw;
    font-size: 1.3em;
    border: none;
    background-color: #BE123C;
    color: #fff;

}

.arts{
    position: absolute;
    bottom:-10vw;

    display: flex;
    /* background-color: blue; */
    align-items: center;
    /* margin-top: 1vw; */
    padding-left: 7.4vw;
    gap: 1.8vw;
    z-index: 2;
    text-align: left;
    white-space: nowrap;
}

.art{
    padding: 1.1vw;
    border: 1px solid #fff;
    border-radius: 1vw;

}

.pic{
    width: 100%;
    position: relative;

}

.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pic #traced{
    position: absolute;
    top: .5vw;
    left: 1.3vw;
}

@media (min-width: 1024px){
    .content {
        padding:0 3vw;
        padding-top: 7vw;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
    }

    .text-content{
        padding-top: 0;
        justify-content: center;
        padding: 0vw;
        width: 100%;
        /* background-color: blueviolet; */
        gap: 2.3vw;
    }

    .text-content p{
        
        font-size: 15em;
        padding-right:2vw;
        letter-spacing: .1vh;
    }

    .search-info{
        gap: .1vw;
    }


    .input-search{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        gap: .7vw;
        /* background-color: red; */
        
    
        /* background-color: blue; */
    }

    .input-search #search{
        display: block;
        position: absolute;
        top: .8vw;
        left: .5vw;
        width: 1.6vw;
        height: 1.7vw;
    }

    .input-search input{
        width: 35vw;
        padding: 1vw 2.6vw;
        border-radius: .3vw;
        outline: none;
        border: none;
        font-size: 1vw;
    }


        
    .input-search button{
        padding: 1vw 2vw;
        border-radius: .4vw;
        font-size: 4em;
    }

    
.arts{
    position: absolute;
    bottom:-2.3vw;
    left: -7.4vw;
    gap: .5vw;
    z-index: 2;
    /* text-align: left; */
    white-space: nowrap;
    font-size: 3.2em;
}

.art{
    padding: .4vw 1vw;
    border: 1px solid #fff;
    border-radius: .4vw;

}

.pic{
    width: 100%;
    /* background-color: red; */
    position: relative;
    margin-left: 5vw;


}

.pic .image{
    padding-top: 1vw;
    /* background-color: blue; */
    /* width: 35vw; */
    height: 70vh;
}

.pic img{
    width: 115%;
    height: 100%;
    object-fit: contain;
}

.pic #traced{
    position: absolute;
    top: 1.1vw;
    left: .5vw;
}

}

