.nav{
    width: 100%;
    padding: 4vw 4vw;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.heading{
    font-size: 2em;
}

.menu img{
    width: 7vw;
}
